<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="store">
    <ion-segment-button value="image" checked>
      <ion-label>Gallery</ion-label>
    </ion-segment-button>
    <ion-segment-button value="content">
      <ion-label>About Us</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="store">
    <ion-grid *ngSwitchCase="'image'">
      <ion-row>
        <ion-col size="6" sizeMd="4" sizeLg="2" *ngFor="let image of storeInformation">
          <div class="container">
            <img [src]="image.image" alt="this is store image" style="height: 200px; width: 200px;">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngSwitchCase="'content'">
      <div *ngFor="let aboutUs of storeInformation1">
        <h1>
          Our Store
        </h1>
        <p>{{aboutUs.content}}</p>
        <h1>
            Our Opening Time
          </h1>
          <p>{{aboutUs.openTime}}</p>
        <h1>
          Our Address
        </h1>
        <ion-img [src]="aboutUs.addressImg" alt="this is address image" (click)="searchAddress()"></ion-img>
        <a (click)="searchAddress()">
          <h4>{{aboutUs.address}}</h4>
        </a>
        <p>ABN: {{aboutUs.ABN}}</p>
      </div>
    </div>
  </div>

</ion-content>