<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foods-recipe">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Recipes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about-us">
          <ion-icon name="business"></ion-icon>
          <ion-label>AboutUs</ion-label>
        </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
