<ion-header>
    <ion-toolbar>
      <ion-title>Products</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list-header>
          <ion-label>Products List Information</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let product of productsList" routerLink="/tabs/products/{{product.payload.doc.id}}"> 
            <ion-avatar slot="start">
              <img src="{{product.payload.doc.data().image}}">
            </ion-avatar>
            <ion-label><b>{{product.payload.doc.data().title}}</b><br/>{{product.payload.doc.data().content}}</ion-label>
        </ion-item>
  </ion-content>
