<ion-header>
    <ion-toolbar>
      <ion-title>Products</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list-header>
          <ion-label>Products List Information</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let product of productsList"> 
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>{{product.payload.doc.data().title}}<br/>{{product.payload.doc.data().content}}</ion-label>
        </ion-item>
  </ion-content>
