<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="tabs/products"></ion-back-button>
          </ion-buttons>
        <h5 style="margin-left: 30px;">{{productDetail.title}}</h5>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img src="{{productDetail.image}}" style="width:100%;height:300px;">
      <h3> Content </h3>
      <ul *ngFor="let content of productDetail.content">
            <li>{{content}}</li>
     </ul>
     <h3>Price:{{productDetail.price}}</h3>
     <h3>Method Of Cook</h3>
     <ul *ngFor="let method of productDetail.method">
            <li>{{method}}</li>
     </ul>
     
    
    
  </ion-content>
  